// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


/*NAVBAR*/

.navbar {

    height: 50px;

    .nav-item {

        .nav-link {
            color: black;
            font-weight: 600;
        }

        .active {
            color: #0c7cec;
            border-bottom: 4px solid #0c7cec;
            margin-bottom: -4px;
        }
    }
}