// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


/*NAVBAR*/

.navbar {

    height: 50px;

    .nav-item {

        .nav-link {
            color: black;
            font-weight: 600;
        }

        .active {
            color: #0c7cec;
            border-bottom: 4px solid #0c7cec;
            margin-bottom: -4px;
        }
    }
}

/*JUMBO*/

.jumbotron {
    background-image: url(../img/jumbotron.jpg);
    min-height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
}

//
/*MAIN*/
//

main {
    background-color: black;
    color: #0c7cec;
    min-height: 70vh;
}

.comics {


    .row {
        padding-top: 1rem;
    }

    .card {
        border: none;
        height: 230px;
        margin-bottom: 0.8rem;
        background-color: black;
        color: white;

        .card-img {
            height: 160px;
            width: 160px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 1px 1px;
            }
        }

        .card-title {
            font-size: 0.65rem;
        }
    }

    .load-btn {
        background-color: #0c7cec;
        color: white;
        margin-bottom: 1rem;
        border: none;
        padding: 0.4rem;
    }

}


//
/*FOOTER*/
//

footer {

    .links {
        background-color: #0c7cec;
        color: white;
        padding: 1.5rem 0 1.5rem 0;

        .col {
            display: flex;
            align-items: center;
        }

        img {
            width: 30%;
            padding-right: 0.4rem;
        }

        span {
            font-size: 0.8rem;
        }

        .locator {
            width: 20%;
        }
    }
}