// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


/*NAVBAR*/

.navbar {

    height: 50px;

    .nav-item {

        .nav-link {
            color: black;
            font-weight: 600;
        }

        .active {
            color: #0c7cec;
            border-bottom: 4px solid #0c7cec;
            margin-bottom: -4px;
        }
    }
}

/*JUMBO*/

.jumbotron {
    background-image: url(../img/jumbotron.jpg);
    min-height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
}

//
/*MAIN*/
//

main {
    background-color: black;
    color: #0c7cec;
    min-height: 70vh;
}

.comics {

    padding-top: 2rem;
    position: relative;

    .row {
        padding-top: 1rem;
    }

    .card {
        border: none;
        height: 230px;
        margin-bottom: 0.8rem;
        background-color: black;
        color: white;

        .card-img {
            height: 165px;
            width: 160px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 1px 1px;
            }
        }

        .card-title {
            font-size: 0.65rem;
        }
    }

    .load-btn {
        background-color: #0c7cec;
        color: white;
        margin-bottom: 1rem;
        border: none;
        padding: 0.4rem 2rem;
    }

    .cur-series {
        background-color: #0c7cec;
        color: white;
        border: none;
        font-size: 1.3rem;
        font-weight: 700;
        padding: 0.4rem 1.2rem;
        position: absolute;
        top: -23px;
        left: -5px;
    }

}

.links {
    background-color: #0c7cec;
    color: white;
    padding: 1.5rem 0 1.5rem 0;

    .col {
        display: flex;
        align-items: center;
    }

    img {
        width: 30%;
        padding-right: 0.4rem;
    }

    span {
        font-size: 0.8rem;
    }

    .locator {
        width: 20%;
    }
}


//
/*FOOTER*/
//

footer {

    background-image: url(../img/footer-bg.jpg);


    .footer-logo {
        background-image: url(../img/dc-logo-bg.png);
        background-repeat: no-repeat;
        background-position: center right;
        background-size: 52%;

        .footer-links {

            color: white;
            width: 30%;


            a {

                color: lightgrey;
                text-decoration: none;
            }

            .m-neg {

                margin-bottom: -7.5rem;
            }
        }
    }

    .social {

        background-color: rgb(46, 45, 45);

        .sign-btn {

            color: white;
            background-color: rgb(46, 45, 45);
            border: 1px solid #0c7cec;
            padding: 0.6rem;
        }

        h4 {

            margin: 0;
            padding-right: 0.8rem;
            color: #0c7cec;
            font-weight: 700;
            font-size: 1rem;
        }

        img {

            width: 12%;
            padding-right: 0.5rem;
        }
    }

}